@use 'variables';
@use 'mixins';

.tutoring{
	@include mixins.default-grid;
	@include mixins.program-section-formatting;

	&__heading{
		@include mixins.program-section-heading;
	}

	&__intro-text{
		@include mixins.program-section-intro;
	}

	&__card{
		@include mixins.default-grid;
		@include mixins.program-card-formatting;

		@include mixins.landscape{
			@include mixins.program-card-reset;

			&_tutors{
				@include mixins.program-card-top-left;
			}

			&_schedule{
				@include mixins.program-card-bottom-left;
			}

			&_grades{
				@include mixins.program-card-right;
			}

		}
	}

	&__image-slot{
		@include mixins.image-slot;
		padding-bottom: 65%;

		@include mixins.landscape{
			padding-bottom: 70%;
		}
	}

	&__card-image{
		@include mixins.cover-parent;
		@include mixins.default-img;
		@include mixins.card-image-styling;
	}

	&__card-heading{
		@include mixins.program-card-heading;

		@include mixins.landscape{
			padding: 0.85rem 1.5rem;
		}
	}

	&__card-text{
		font-weight: normal;
	}

	&__button{
		@include mixins.button;
		grid-column: 1/-1;

		@include mixins.landscape{
			margin-top: 3rem;
		}
	}
}