@use 'variables';
@use 'mixins';

.site-header{
	@include mixins.default-grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	position: relative;
	padding: 1.5rem;

	@include mixins.wide-screen{
		grid-template-columns: repeat(4, minmax(0, 1fr));
		padding: 1.5rem 4%;
	}

}

.toggle{
	grid-column: 1/2;
	place-self: center left;
	display: flex;
	flex-direction: column;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	position: relative;
	z-index: 4;

	@include mixins.wide-screen{
		display: none;
	}

	&__line{
		width: 100%;
		height: 0.2rem;
		background: black;
		transition: all 200ms ease-in-out;

		&_1{
			margin: auto;
		}

		&_2{
			margin: auto;
		}

		&_open-1{
			@include mixins.open-line;
			transform: rotate(45deg);
		}

		&_open-2{
			@include mixins.open-line;
			transform: rotate(-45deg);
		}
	}

	&__radio{
		opacity: 0;
		position: absolute;
		cursor: none;
		left: 1.75rem;
		top: 3.4rem;

		@include mixins.wide-screen{
			display: none;
		}
	}
}

.logo{
	grid-column: 2/3;
	place-self: center center;
	background: url("http://localhost/wp-content/uploads/2021/10/logo.png");
	@include mixins.default-background;
	height: 5rem;
	width: 7.35rem;
	cursor: pointer;
	position: relative;

	@include mixins.wide-screen{
		grid-column: 1/2;
		place-self: center left;
	}

	&__link{
		@include mixins.cover-parent;
	}
}

.menu{
	position: absolute;
	visibility: hidden;
	width: 0rem;
	opacity: 0;
	left: 0;
	top: 0;
	height: 100vh;
	@include mixins.default-grid;
	padding: 4rem 3.7rem 0 0;
	transition: width 200ms ease-in-out;
	z-index: 3;

	@include mixins.wide-screen{
		grid-row: 1/2;
		grid-column: 2/4;
		position: unset;
		width: unset;
		opacity: unset;
		right: unset;
		top: unset;
		height: unset;
		padding: unset;
		transition: unset;
		visibility: unset;

		&__container{
			@include mixins.default-grid;
		}
	
		&__list{
			place-self: center center;
			display: flex;
			width: 100%;
			justify-content: space-between;
		}
	}

	&_open{
		background: whitesmoke;
		width: 20.6rem;
		opacity: 1;
		visibility: unset;
	}

}

.menu-item{

	&_open{
		margin-top: 3rem;
		text-align: right;
	}

	@include mixins.wide-screen{
		display: flex;
		padding: 1rem 0rem;
	}

	a{
		padding: 0.3rem;
		font-size: 1.75rem;
		color: black;

		@include mixins.wide-screen{
			font-size: 1.05rem;
		}

		&:hover{
			color: var(--orange);
		}
	}
}

.wp-block-search{
	grid-column: 3/4;
	place-self: center right;
	display: flex;
	height: 1.75rem;
	width: 1.75rem;

	@include mixins.wide-screen{
		grid-column: 4/5;
	}

	&__input{
		display: none;
	}
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input{
	@include mixins.landscape{
		padding-left: 1.5rem;
	}
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper{
	padding: 0;
	border: none;
	position: relative;
}

.wp-block-search .wp-block-search__button{
	border: none;
	margin: 0;

	@include mixins.landscape{
		background: none;
	}
}

.search-icon{
	cursor: pointer;
	opacity: 0.8;
	transform: scale(2) scaleX(-1);

	@include mixins.landscape{
		position: absolute;
		left: 0;
		top: 0.1rem;
		transform: scaleX(-1);
		opacity: 0.5;

		&:hover{
			opacity: 1;
		}
	}
}

@include mixins.landscape{
	.wp-block-search{
		width: 70%;
		max-width: 15rem;
		border: 1px solid rgba(0,0,0,0.5);
		border-radius: 999rem;
		background: white;
	
		&__input{
			display: flex;
			outline: none;
			border: none;
			width: 100%;
			height: 100%;
			background: none;
			padding: 0.3rem;
		}
	}
}