@use 'variables';
@use 'mixins';

.featured-programs{
	@include mixins.default-grid;

	&__heading{
		font-size: 1.9rem;
		position: relative;
		text-align: center;
		line-height: 1.5;
		margin-bottom: 3.5rem;

		&:after{
			content: "";
			position: absolute;
			background: rgb(77, 109, 209);
			width: 15.5rem;
			height: 0.3rem;
			bottom: -1.25rem;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.program{
	@include mixins.default-grid;
	@include mixins.program-section-formatting;

	&__heading{
		@include mixins.program-section-heading;
	}

	&__caption{
		@include mixins.program-section-intro;
	}

	&__card{
		@include mixins.default-grid;
		@include mixins.program-card-formatting;

		@include mixins.landscape{
			@include mixins.program-card-reset;

			&_top-left{
				@include mixins.program-card-top-left;
			}

			&_top-right{
				@include mixins.program-card-top-left;
				grid-column: 3/4;
				width: 90%;
				margin-bottom: 1rem;
				justify-self: left;
			}

			&_bottom-left{
				@include mixins.program-card-bottom-left;
			}

			&_bottom-right{
				@include mixins.program-card-bottom-left;
				grid-column: 3/4;
				width: 90%;
				justify-self: left;
			}

			&_right-spotlight{
				@include mixins.program-card-right;
			}

			&_left-spotlight{
				@include mixins.program-card-right;
				grid-column: 1/3;
				grid-row: 3/5;
				margin-left: unset;
				margin-right: 1rem;
				justify-self: right;
			}

		}
	}

	&__image-slot{
		@include mixins.image-slot;
		padding-bottom: 65%;

		@include mixins.landscape{
			padding-bottom: 70%;
		}
	}

	&__card-image{
		@include mixins.cover-parent;
		@include mixins.default-img;
		@include mixins.card-image-styling;
	}

	&__card-heading{
		@include mixins.program-card-heading;

		@include mixins.landscape{
			padding: 0.85rem 1.5rem;
		}
	}

	&__card-description{
		@include mixins.program-card-description;

		@include mixins.landscape{
			padding: 0.85rem 1.5rem;
		}
	}

	&__button{
		@include mixins.button;
		grid-column: 1/-1;

		@include mixins.landscape{
			margin-top: 3rem;
		}
	}
}