@use 'variables';
@use 'mixins';

.search-results{
    @include mixins.default-grid;
    width: 100%;

    margin: 0 auto;

    .top{
        @include mixins.default-grid;
        margin: 0 2rem;

        @include mixins.wide-screen{
            margin: 0 4%;
        }

        &__heading{
            font-size: 2.15rem;
            margin: 2.5rem 0 1.25rem 0;
        }
    }

    .wp-block-search{
        @include mixins.search-container;
        display: flex;
        width: 100%;
        max-width:30rem;
        height: 2.5rem;
        margin-bottom: 2rem;

        &__input{
            margin: auto 0;
            font-size: 1.1rem;
        }
    }

    .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input{
        padding-left: 2.2rem;
    }

    .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper{
        @include mixins.search-inside-wrapper;
    }

    .wp-block-search .wp-block-search__button{
        @include mixins.search-button;
    }

    .search-icon{
        @include mixins.search-icon;
        left: 0.35rem;
        top: 0.35rem;
        transform: scale(-1.5, 1.5);
    }

    .results{
        margin: 0 2rem;

        @include mixins.wide-screen{
            margin: 0 4%;
        }

        &__item{
            @include mixins.default-grid;
        }

        &__raw-address{
            color: #333;
            font-size: 0.8rem;
            margin-bottom: 0.45rem;
        }

        &__link{
            font-size: 1.25rem;
            margin-bottom: 0.45rem;
        }

        &__last-updated{
            color: #333;
            font-size: 0.8rem;
            color: rgb(77, 109, 209);
            margin-bottom: 2rem;
        }

        &__null-heading{
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
        }

        &__null-text{
            line-height: 1.4;
            color: #333;
        }

    }


}