@use 'variables';
@use 'mixins';

.tutor-profile{
    @include mixins.default-grid;
    position: relative;
    padding-bottom: 3rem;

    &__background{
        @include mixins.default-img;
        @include mixins.cover-parent;
        z-index: -2;
        opacity: 0.9;
    }

    &::after{
        content: "";
		position: absolute;
		background: linear-gradient(rgba(245, 245, 245, 1), rgba(245, 245, 245, 0));
		width: 100%;
		height: 40%;
		top: 0;
		z-index: -1;
    }

}

.tutor-profile .intro{
    @include mixins.default-grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    max-width: 75rem;
    margin: 0 auto;

    &__heading{
        place-self: end center;
        font-size: 2rem;
        margin: 1.5rem 0 0.5rem;

        @include mixins.landscape{
            font-size: 2.85rem;
        }

        @include mixins.wide-screen{
            font-size: 3.75rem;
            margin: 1.5rem 0 1rem;
        }
    }

    &__first-name{
        margin-top: 0.3rem;
        color: var(--orange);
    }

    &__headshot{
        @include mixins.default-img;
        grid-column: 2/3;
        grid-row: 1/3;
        place-self: center center;
        width: 70%;
        border-radius: 0.7rem;
        margin: 1.5rem;

        @include mixins.wide-screen{
            margin: 3.5rem;
        }
    }

    &__with-since{
        margin: 0.5rem 1.5rem 1.5rem;
        font-weight: bold;
        line-height: 1.4;
        font-size: 1.1rem;

        @include mixins.landscape{
            font-size: 1.2rem;
        }

        @include mixins.wide-screen{
            margin: 1rem 3.5rem 1.5rem;
            font-size: 1.5rem;
        }
    }
}

.q-a{
    @include mixins.default-grid;
    text-align: center;
    max-width: 75rem;
    margin: 0 auto;

    &__q, &__fact-heading{
        font-weight: bold;
        font-size: 1.1rem;
        margin: 1rem 1.5rem 0.5rem;

        @include mixins.landscape{
            font-size: 1.2rem;
        }

        @include mixins.wide-screen{
            font-size: 1.5rem;
        }

        &_1{
            margin-top: 1.65rem;
        }
    }

    &__a, &__fun-fact{
        line-height: 1.4;
        font-weight: bold;
        font-size: 1.1rem;
        margin: 0 1.5rem 1rem;
        color: #333;
    }

    @include mixins.landscape{
        font-size: 1.2rem;
    }

    @include mixins.wide-screen{
        font-size: 1.5rem;
    }
}