@use 'variables';
@use 'mixins';

.workshops{
    @include mixins.default-grid;
    max-width: 63rem;
    justify-self: center;

    &__image{
        @include mixins.default-img;
        width: 100%;
    }

    &__info{
        @include mixins.default-grid;
    }

    &__sign-up{
        @include mixins.button;
        margin: 1.5rem 0rem;
    }

    &__description-heading{
        font-size: 1.6rem;
        opacity: 0.9;
        margin: 0 1.5rem 1.5rem 1.5rem;

        // @include mixins.wide-screen{
        //     margin: 0 0 1.5rem 0;
        // }
    }
    
    &__description, &__overview, &__cta{
        line-height: 1.4;
        font-size: 1rem;
        margin: 0 1.5rem;

        @include mixins.wide-screen{
            // margin: 0;
            line-height: 1.5;
        }
    }

    &__description > p{
        margin-bottom: 1rem;

        @include mixins.wide-screen{
            margin-bottom: 1.5rem;
        }
    }

    &__overview{
        margin: 1.5rem;
    }

    &__form{
        margin: 0.5rem 0 2rem;

        @include mixins.wide-screen{
            margin-bottom: 3rem;
        }
    }

    &__cancel-heading, &__volunteer-heading{
        font-size: 1.1rem;
        margin: 0rem 1.5rem 1rem;
    }

    &__volunteer-heading{
        margin-top: 1.5rem;
    }

    &__cancel-text, &__volunteer-text{
        line-height: 1.4;
        margin: 0 1.5rem;

        @include mixins.wide-screen{
            line-height: 1.5;
        }
    }

    .details{
        @include mixins.default-grid;
        background-color: rgba(0,0,0,0.05);
        padding: 1.5rem;
        margin-bottom: 1.5rem;
    
        @include mixins.medium-screen{
            border-radius: 0.7rem;
        }
    
        &__title{
            text-transform: uppercase;
            font-size: 1.05rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
    
        &__presenter{
            margin-bottom: 0.5rem;
        }
    
        &__date-time{
            margin-bottom: 0.5rem;
        }
    
        &__grades{
            margin-bottom: 0.5rem;
        }
    
        &__price{
            font-weight: bold;
        }
    }
    
    .archive{
        @include mixins.default-grid;
        padding: 0 1.5rem;
    
        &__heading{
            @include mixins.workshops-heading;
            margin: 3rem 0 1.5rem;
        }
    
        &__image{
            @include mixins.default-img;
            width: 100%;
    
            @include mixins.medium-screen{
                border-radius: 0.7rem;
            }
            
        }
    
        &__image-slot{
            margin-bottom: 1.5rem;
    
            @include mixins.medium-screen{
                margin-bottom: 3rem;
            }
        }
    }
}



.workshops_single{
    .workshops__description-heading{
        margin-top: 1.5rem;
    }
}